<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .container {
            padding: 20px 0;
        }

        .ct-series-a .ct-area {
            fill: transparent !important;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/assets/img/fst-logo.png" height="100">
            </div>
            <div class="col">
                <div style="text-align:center;font-size:1em;color:#000;padding:30px 0;">Faculté des sciences et
                    techniques <br> Université Hassan 1er - Settat <br> Département de physique appliquée <br> <br>
                    <span style="display: inline-block; background-color: yellow;color:#000;">MST : "Génie biomédical :
                        Instrumentaion et Maintenance"</span></div>
            </div>
            <div class="col">
                <img style="float:right;" src="/assets/img/uh1_logo.png" height="100">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="/" class="btn btn-primary">Accueil</a>
                <a href="/patients" class="btn btn-secondary">Espace patients</a>
            </div>
        </div>

        {{{ body }}}

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
</body>

</html>