<div class="row" style="padding-top: 40px;">
    <div class="col">
        <h2>Lorem ipsum dolor sit amet</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt cumque, commodi deleniti ab repellendus
            qui voluptate iure perferendis iusto reprehenderit vel maiores assumenda numquam animi! Similique amet
            sequi dolorem adipisci!</p>
    </div>
    <div class="col">
        <p>
            <img src="https://picsum.photos/555/400">
        </p>
        <p>
            <img src="https://picsum.photos/555/400">
        </p>
    </div>
</div>